name: Mirror libretranslate to Docker Hub

on:
  workflow_dispatch:  # 手动触发
  schedule:
    - cron: '0 2 * * 0'  # 每周日凌晨 2 点自动同步

jobs:
  mirror:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v3

      - name: Login to Docker Hub
        uses: docker/login-action@v3
        with:
          username: ${{ secrets.DOCKERHUB_USERNAME }}
          password: ${{ secrets.DOCKERHUB_TOKEN }}

      - name: Pull from Docker Hub and Push to your repo
        run: |
          docker pull libretranslate/libretranslate:latest
          docker tag libretranslate/libretranslate:latest hanmenger777/libretranslate:latest
          docker push hanmenger777/libretranslate:latest
